* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

html,
body {
  height: 100vh;
}

body {
  background-color: white;
  background-image: url(img/background_cloudy.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

header {
  padding: 10px;
  background-color: #4e5a6fcc;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: #eca335;
}

#logo {
  width: 12%;
}

#main {
  position: relative;
  display: inline-block;
  width: 100%;
}

#search {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#search_container {
  display: flex;
  width: 100%;
}

#city_input {
  border-style: none;
  outline: none;
  height: 30px;
  width: 100%;
  color: white;
  background-color: #263954a8;
  opacity: 0.5;
  font-size: 14pt;
  padding: 4px;
  padding-left: 15px;
}

button {
  width: 40px;
  opacity: 0.5;
  color: #3a3a3a;
}

#city_country {
  margin: 20px auto;
  font-size: 14pt;
}

#temp_unit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
}

#circle {
  margin-top: 20px;
}

#background_img {
  display: block;
  width: 80%;
  margin: 0 auto;
  opacity: 0.6;
}

#weather_data {
  display: grid;
  grid-template-rows: 40% 20% 10% 10% 10%;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 60%;
}

#temp {
  font-size: 35pt;
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  line-height: 35px;
  color: #eca335;
}

#temp_min,
#temp_max {
  font-size: 20pt;
}

#temp_symbol {
  font-size: 12pt;
  vertical-align: text-top;
}

#overcast,
#wind,
#humidity {
  font-size: 12pt;
}

#temp_min {
  grid-column: 1;
  grid-row: 2;
}

#temp_max {
  grid-column: 2;
  grid-row: 2;
  text-align: right;
}

#overcast {
  grid-column: 1 / 3;
  grid-row: 3;
  text-align: center;
}

#wind {
  grid-column: 1 / 3;
  grid-row: 4;
  text-align: center;
}

#humidity {
  grid-column: 1 / 3;
  grid-row: 5;
  text-align: center;
}

#forecast {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 280px;
  background-color: #eca335;
  opacity: 0.5;
}

.temp_unit_class {
  vertical-align: -webkit-baseline-middle;
  padding: 5px 5px;
  background-color: #163516;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.buttonOn {
  background-color: #2d6c2d;
  color: white;
}

.buttonOff {
  background-color: #163516;
  color: #6f6f6f;
}

#not_found_container {
  position: absolute;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: none; /* flex when visible*/
  justify-content: center;
  align-items: center;
  top: 30%;
}

#not_found {
  background-color: #4a2727e6;
  padding: 20px 10px;
  font-size: 16pt;
  color: #9c9c9c;
  width: 220px;
  display: table;
}

#not_found_text {
  /* display: inline-block; */
  display: table-cell;
  vertical-align: middle;
}

#not_found_icon {
  margin: -5px 0px 0px -25px;
  top: 0;
  position: absolute;
  width: 30px;
}

#display_city {
  background-color: #26395470;
  height: 50px;
  line-height: 50px;
  font-size: 16pt;
  text-align: center;
  outline: none;
}
