* {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  text-shadow: 1px 1px 1px #616161;
}

html {
  height: 100vh;
  background: url(img/background_cloudy_2.jpg) no-repeat;
  -webkit-background-size: 1000px 1000px;
  -moz-background-size: 1000px 1000px;
  -o-background-size: 1000px 1000px;
  background-size: 800px 800px;
  background-position: 70% 70%;
}

body {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-rows: 60px 50px auto 100px;
  height: 100vh;
}

header {
  background-color: #4e5a6fcc;
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-row: 1;
  width: 100%;
}

h1 {
  color: #eca335;
  padding-left: 30px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#logo {
  width: 12%;
  padding-right: 30px;
}

#main {
  position: relative;
  display: inline-block;
  width: 100%;

  grid-row: 3;
}

#search {
  position: relative;
  display: flex;
  grid-row: 2;
  /* width: 100%;
  justify-content: space-around;
  align-items: center; */
}

#search_container {
  display: flex;
  width: 100%;
}

#city-input {
  border-style: none;
  outline: none;
  width: 100%;
  color: white;
  background-color: #263954a8;
  opacity: 0.5;
  font-size: 16pt;
  padding-left: 45px;
}

button {
  width: 40px;
  opacity: 0.5;
  color: #3a3a3a;
}

#city_country {
  margin: 20px auto;
  font-size: 14pt;
}

#temp_unit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  width: 30%;
}

#circle {
  position: relative;
  margin: 20px 0;
  overflow: hidden;
}

#background-img {
  display: block;
  width: 80%;
  margin: 0 auto;
  opacity: 0.6;
}
#turning_circle {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(0deg);
}
.turn {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(0, 0);
  animation: turn 0.8s ease-in-out;
  transform: rotate(-140deg);
}
@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-120deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

#weather_data {
  display: grid;
  grid-template-rows: 40% 20% 15% 16%;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  margin: 0 auto;
  top: 16%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  width: 60%;
}

#temp {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
}
.temp-box {
  width: 60%;
  margin: 0 auto;
}
#temp-value {
  font-size: 35pt;
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  line-height: 35px;
  color: #eca335;
}
#temp-symbol {
  position: relative;
  top: -18px;
  font-size: 12pt;
}
#feels-like-temp {
  font-size: 10pt;
  color: #cccccc;
}
#feels-like-temp-value {
  font-size: 10pt;
  /* grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  line-height: 35px; */
  color: #eca335;
}
#feels-like-temp-symbol {
}

#temp_min,
#temp_max {
  font-size: 15pt;
}

#overcast,
#wind,
#humidity {
  font-size: 10pt;
}

#temp_min {
  grid-column: 1;
  grid-row: 2;
}

#temp_max {
  grid-column: 2;
  grid-row: 2;
  text-align: right;
}

#overcast {
  grid-column: 2 / 3;
  grid-row: 3;
  text-align: left;
}

#wind {
  grid-column: 2 / 3;
  grid-row: 4;
  text-align: left;
}

#humidity {
  grid-column: 1 / 3;
  grid-row: 5;
  text-align: center;
}

#icon {
  display: none;
  position: absolute;
  top: 72%;
  left: 30%;
  transform: translate(-50%, -50%);
}

#slide-container {
  grid-row: 4;
  position: relative;
  overflow: scroll;
  height: 100%;
}

/* .long-term-forecast {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #757d8aa6;
  color: #fff9f1;
  border-bottom: 1px solid #ffffff5c;
  padding-left: 10px;
}
#five-day-forecast {
} */
#forecast-container {
  display: flex;
  align-items: center;
  background-color: #ffffff00;
  overflow: scroll;
  height: 100%;
  width: 100%;
  background-color: #acb1b9a6;
}
.forecast {
  width: 33.3%;
  height: 100%;
  flex: 0 0 auto;
  border-right: 1px solid #ffffff5c;
}
.arrow-left-container {
  position: absolute;
  left: 6px;
  width: 2.5%;
  height: 100%;
  display: flex;
  align-items: center;
}
#arrow-left {
  height: 50px;
}
.arrow-right-container {
  position: absolute;
  top: 0;
  right: 6px;
  width: 2.5%;
  height: 100%;
  display: flex;
  align-items: center;
}
#arrow-right {
  position: absolute;
  height: 50px;
}
.temp_unit_class {
  vertical-align: -webkit-baseline-middle;
  background-color: #163516;
  width: 40px;
  height: 100%;
  line-height: 50px;
  text-align: center;
}

.buttonOn {
  background-color: #537b78;
  color: white;
}
.buttonOff {
  background-color: #293d3b;
  color: #6f6f6f;
}
.buttonOn,
.buttonOff {
  width: 50%;
}

#not_found_container {
  position: absolute;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: none; /* flex when visible*/
  justify-content: center;
  align-items: center;
  top: 30%;
}

#not_found {
  background-color: #4a2727e6;
  padding: 20px 10px;
  font-size: 16pt;
  color: #9c9c9c;
  width: 220px;
  display: table;
}

#not_found_text {
  /* display: inline-block; */
  display: table-cell;
  vertical-align: middle;
}

#not_found_icon {
  margin: -5px 0px 0px -25px;
  top: 0;
  position: absolute;
  width: 30px;
}

#display_city {
  background-color: #26395470;
  height: 50px;
  line-height: 50px;
  font-size: 16pt;
  text-align: center;
  outline: none;
}

#location-icon {
  width: 15px;
  position: absolute;
  top: 15px;
  left: 12px;
}

#temp_min,
#temp_max,
#overcast,
#wind,
#humidity {
  color: #cccccc;
}

#day-2-icon,
#day-3-icon,
#day-4-icon,
#day-5-icon,
#day-6-icon {
  width: 100%;
}
#day-2,
#day-3,
#day-4,
#day-5,
#day-6 {
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 1fr 1fr;
}
#day-6 {
  border: none;
}
.icons {
  grid-row: 2;
  grid-column: 1 / 3;
  align-self: center;
  margin: 0 auto;
  display: block;
  width: 80%;
}
.dates {
  grid-row: 1;
  grid-column: 1 / 3;
  text-align: center;
  align-self: center;
  color: #fff9f1;
  font-size: 14pt;
}
.min-temps,
.max-temps {
  grid-row: 3;
  font-size: 14pt;
  font-weight: 400;
  align-self: center;
  color: #402b0d;
  text-shadow: 1px 1px 1px #616161;
}
.min-temps {
  grid-column: 1 / 2;
  color: #2e6392;
  text-align: left;
  margin-left: 10px;
}
.max-temps {
  grid-column: 2 / 3;
  color: #a73a3a;
  text-align: right;
  margin-right: 10px;
}

/* @media screen and (orientation: portrait) { */
/* } */
@media screen and (min-width: 500px) {
  #background-img {
    width: 50%;
  }
}
